.label {
  @apply block font-medium text-gray-100 pb-1;
}

.fieldtext {
  @apply block w-full text-gray-100
  bg-gray-600
    shadow-sm rounded-md
  focus:ring-sky-300
  focus:border-sky-300 border-gray-500;
}

.checkbox {
  @apply h-5 w-5 rounded-sm focus:ring-sky-300
  focus:border-sky-300 border-gray-300;
}

.selectgroup {
  @apply h-full text-gray-200
    bg-transparent
    border-transparent
    rounded-md
    py-0 pl-2 pr-7
    focus:ring-sky-300
    focus:border-sky-300;
}
