@font-face {
  font-family: "M PLUS 1";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("Mplus1-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "M PLUS Code Latin";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("MplusCodeLatin60-Regular.woff2") format("woff2");
}

$grid-color: 200;

html {
  background-size: 1.75rem 1.75rem;
  background-image: linear-gradient(
      to right,
      rgba($grid-color, $grid-color, $grid-color, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      rgba($grid-color, $grid-color, $grid-color, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(
      to top,
      rgba($grid-color, $grid-color, $grid-color, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(
      to left,
      rgba($grid-color, $grid-color, $grid-color, 0.05) 1px,
      transparent 1px
    );
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
